body{
    font-family: Genevas !important;
    background-color:#e1dece;
    margin:40px;
    color:#333;
   

}

nav{
    background:#60320c;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
}

nav a:hover{
    color:#e7971e
}

h1,h2{
    color:#4a260d;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;         
  border-radius: 12px;      
  overflow: hidden;        
  
  border: 2px solid #60320c; 
}

th, td {
  padding: 12px;
  text-align: center;
  
  border-bottom: 1px solid #60320c; 
  border-right: 1px solid #60320c;
}

th:last-child, td:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

th {
  background-color: #60320c;
  color: #ffffff;
}

ul li{
    margin:8px 0;
}

input,
textarea{
    width:60%;
    padding:10px;
    border:1px solid #999;
    border-radius:5px;
}

button{
    background:#A07151;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#513929;
}


.profile-img {
  width: 150px;          
  height: 150px;          
  border-radius: 50%;    
  object-fit: cover;    
  float: right;        
  margin-left: 20px;     
}